<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos/head::head}">
	<meta charset="utf-8">
	<title>Registro Categoría</title>

	<script type="text/javascript" src="/js/JSCentroBelleza.js"></script>

	<script type="text/javascript" src="/js/libreriaFechas.js"></script>

	
</head>
<body>

	<header th:replace="~{fragmentos/header::header}"></header>

	<main class="container-fluid">
		<div class="row mt-5">
			<div class="col-3"></div>
			<form method="POST" action="#" th:action="${categoriaForm.id != 0} ? @{/admin/editCategoria/submit} : @{/admin/newCategoria/submit}" th:object="${categoriaForm}"
			 id="formulario" class="col-6 bg-light mb-5 rounded">
			 
			 	<fieldset class="mt-2 ml-1">
					<legend class="mb-3 text-center"  th:text="${categoriaForm.id != 0} ? 'Editar categoría' : 'Agregar categoría'">Categoría</legend>
					<input type="hidden" th:field="*{id}" id="id" name="id">
					
					<div class="input-group mt-3 mb-4 w-75 ">
					    <div class="input-group-prepend ml-2">
					      <label for="nombre" class="input-group-text">Nombre</label>
					    </div>
					    <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre" th:field="*{nombre}">				    
					</div>
					
					<button type="reset" class="btn btn-secondary mb-4 ">Limpiar</button>
					<button type="submit" id="enviar" class="btn btn-danger mb-4 float-right">Enviar</button>	
				</fieldset>
			
			</form>
			
			<div class="col-3"></div>
		</div>
	</main>




	<footer th:replace="~{fragmentos/footerLogin::footerLogin}"></footer>



</body>
</html>		