<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos/head::head}">
	<meta charset="utf-8">
	<title>Peluquería</title>

	<script type="text/javascript" src="/js/JSCentroBelleza.js"></script>
	<script type="text/javascript" src="/js/libreriaFechas.js"></script>

</head>
<body>

	<header th:replace="~{fragmentos/headerTratamiento::headerTratamiento}"></header>

	<main class="container">
	
	<div class="row">
		<div class="col-12"><h1 class="cabecera display-4 bg-light text-center mb-5" 
		>Tratamientos</h1></div>
		<!--<form method="POST" action="#" th:action="@{/newReserva/submit}" th:object="${reservaForm}">  -->
  		<div class="col-10 tarjeta card mb-5" th:each="tratamiento : ${tratamientos}">
  			<div class="row no-gutters">
    			<div class="col-md-4">
      				<img th:src="${tratamiento.imagen}" class="card-img mt-4 ml-4 mr-4 mb-3" alt="Tratamientos">
      				<h3 class="text-center pb-3" >Precio <kbd th:text="${#numbers.formatCurrency(tratamiento.precio)}">15</kbd></h3>
    			</div>
    			<div class="col-md-8">
      				<div class="card-body ml-3">
        				<h5 class="card-title" th:text="${#strings.abbreviate(tratamiento.nombre,65)}">Corte de pelo</h5>
        				<p class="card-text" th:text="${tratamiento.descripcion}">
        				Melenas largas, medias melenas, corto todo vale para 2020. Disfruta de un moderno corte de pelo o continúa con ese peinado de siempre que tan bien te sienta. Todo y más en las mejores manos</p>
						<div class="rounded w-25 small pl-5">
					      	<table id="tablaHacerReservas" class="table table-borderless text-center table-sm" summary="Reservar">
						       	<caption class="menorLetra mb-1">Selecciona tu cita</caption>
							        <tbody>
							        	 <tr>
							        	<!--  <form method="POST" action="#" th:action="@{/carrito/add/{id}(id=${tratamiento.id})}" th:object="${reservaForm}">
							            -->
							                <td>
							                	<input type="datetime-local" class="form-control" id="fecha" name="fecha" min="2020/05/21T09:30" max="2021/05/21T20:00" step="1800"
							                	><!-- th:text="${fechaYhora}"  th:field="*{fechaYhora}"-->
							                	<!--  th:text="${tratamiento.fechaYhora}"--></td>
							           		<td><a type="submit" id="reservar" class="btn btn-dark float-right"
							           		 >Reservar</a></td>
							           		 <!--  </form> -->
							           	</tr>   
							        </tbody>
							    </table>
							</div> 
						</div>
      				</div>
    			</div>
  			</div>


		</div>

	</main>


	<footer th:replace="~{fragmentos/footer::footer}"></footer>
	

</body>
</html>