<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Registro Cliente</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

	<link rel="stylesheet" type="text/css" href="/css/CSS.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/JSCentroBelleza.js"></script>
	

	<script type="text/javascript" src="/js/libreriaFechas.js"></script>
	<script type="text/javascript" src="/js/sesionCliente.js"></script>
	

	
</head>
<body>

	<header th:replace="~{fragmentos/header::header}"></header>

	<main class="container-fluid">
		<div class="row mt-5">
			<div class="col-3"></div>
			<form method="POST" action="#" th:action="${clienteForm.id != 0} ? @{/admin/editCliente/submit} : @{/admin/newCliente/submit}" th:object="${clienteForm}"
			 id="formulario" class="col-6 bg-light mb-5 rounded" onsubmit="return revisarFormulario();">
				<fieldset class="mt-2 ml-1">
					<legend class="mb-3"  th:text="${clienteForm.id != 0} ? 'Editar cliente' : 'Registrar cliente'">Registrar Cliente</legend>
					<input type="hidden" th:field="*{id}" id="id" name="id">
					<div class="input-group mb-3 w-75 ">
					    <div class="input-group-prepend ml-2">
					      <label for="nombre" class="input-group-text">Nombre*</label>
					    </div>
					    <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre" required th:field="*{nombre}" >				    
					</div>				
					<div class="mensajeError" id="errorNombre" >Nombre Incorrecto</div>
					<div class="input-group mb-3 w-75">
					    <div class="input-group-prepend ml-2">
					      <label for="apellidos" class="input-group-text">Apellidos*</label>
					    </div>
					    <input type="text" id="apellidos" name="apellidos" class="form-control" placeholder="Apellidos" required th:field="*{apellidos}">
					</div>
					<div class="mensajeError" id="errorApellidos" >Apellido Incorrecto</div>

					<div class="input-group mb-3 w-75">
					    <div class="input-group-prepend ml-2">
					      <label for="fnac" class="input-group-text">Fecha Nacimiento</label>
					    </div>
					    <input type="date" id="fnac" name="fnac" class="form-control" th:field="*{fechaNacimiento}">
					</div>
					<div class="mensajeError" id="errorFecha" >Debe ser mayor de edad</div>

					<div class="input-group mb-3 w-75">
					    <div class="input-group-prepend ml-2 mb-4">
					      <label for="telefono" class="input-group-text">Número de teléfono</label>
					    </div>
					    <input type="text" id="telefono" name="telefono" class="form-control" placeholder="Teléfono" required th:field="*{telefono}" >
					</div>
					
					<div class="input-group w-75">
					    <div class="input-group-prepend ml-2">
					      <label for="email" class="input-group-text">Correo electrónico*</label>
					    </div>
					    <input type="mail" id="email" name="email" class="form-control" placeholder="email@mail.com" required th:field="*{email}" >
					</div>
					<div class="mensajeError mb-3" id="errorEmail" >Correo Electrónico Incorrecto</div>
					<div class="input-group mb-3 w-75">
					    <div class="input-group-prepend ml-2 mb-4">
					      <label for="pwd1" class="input-group-text">Contraseña*</label>
					    </div>
					    <input type="password" id="pwd1" name="pwd1" class="form-control" required th:field="*{password}">
					</div>
					<div class="input-group mb-3 w-75">
					    <div class="input-group-prepend ml-2 mb-1">
					      <label for="pwd2" class="input-group-text">Repetir Contraseña*</label>
					    </div>
					    <input type="password" id="pwd2" name="pwd2" class="form-control" required>
					</div>
					<div class="mensajeError mb-4" id="errorPwd" ></div>
					
					<button type="reset" class="btn btn-secondary mb-4 ">Limpiar</button>
					<button type="submit" id="enviar" class="btn btn-danger mb-4 float-right">Enviar</button>
				</fieldset>
			</form>
			<div class="col-3"></div>
		</div>
	</main>



	<footer th:replace="~{fragmentos/footer::footer}"></footer>



</body>
</html>